<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>パンチリスト</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6708681869328892~3171486847</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>このアプリはアップルミュージックへのアクセスを求めています</string>
	<key>NSCalendarsUsageDescription</key>
	<string>このアプリはカレンダーへのアクセスを求めています</string>
	<key>NSCameraUsageDescription</key>
	<string>このアプリはアイテム写真を撮影するためカメラ機能を使用します</string>
	<key>NSContactsUsageDescription</key>
	<string>このアプリはユーザディスクリプションへのアクセスを求めています</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは位置情報へのアクセスを求めています</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>このアプリはマイクロフォンへのアクセスを求めています</string>
	<key>NSMotionUsageDescription</key>
	<string>このアプリはモーションへのアクセスを求めています</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>このアプリはアイテム写真を追加するためアルバム機能を使用します</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>このアプリはサーチレコグニションのアクセスを求めています</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
